<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Document</title>
</head>

<body onload="loadfun()">
    <main>
        <%- include('abc/navbar') %>
        <%- include('abc/loader') %>
        <img src="./images/sound.png" class="speak" alt="">
        
        <div class="center">
        <div class="left" style="margin-top: 9vh;">
          <img src="./images/sun.png" id="dayimg" alt="">
            <div class="citytemp">
                <h1 id="skytext">Fog</h1>
                <h3 id="cityname">Bhopal</h3>
                <h1 id="temp"></h1>
                <p>Change Location</p>
            </div>

        </div>
        
    </div>
    
    <div class="lay">
            <h1 style="text-align: center; color: white;">Know more</h1>
            <div class="right">
                <div class="rightele go" >
                    <img src="" alt="">
                    <div class="righteletext ">
                        <p>Humidity</p>
                        <h4 id = "humidity"></h4>
                    </div>
                </div>
                <div class="rightele go">
                    <img src="" alt="">
                    <div class="righteletext">
                        <p>Feelslike</p>
                        <h4 id="feelslike"></h4>
                    </div>
                </div>
                <div class="rightele go">
                    <img src="" alt="">
                    <div class="righteletext">
                        <p>Wind Speed</p>
                        <h4 id="windspeed"></h4>
                    </div>
                </div>
                <div class="rightele">
                    <img src="" alt="">
                    <div class="righteletext">
                        <p>Rain Chances</p>
                        <h4 id="day"></h4>
                    </div>
                </div>
                <div class="rightele">
                    <img src="" alt="">
                    <div class="righteletext">
                        <p>Date</p>
                        <h4 id="date"></h4>
                    </div>
                </div>
                <div class="rightele go">
                    <img src="" alt="">
                    <div class="righteletext">
                        <p>Wind Display</p>
                        <h4 id="winddisplay"></h4>
                    </div>
                </div>
            </div>
            <h1 class="otherday">Hours</h1>
            <div class="bottom">
            
            </div>
         </div>

        
        
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js" integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" integrity="sha512-gmwBmiTVER57N3jYS3LinA9eb8aHrJua5iQD7yqYCKa5x6Jjc7VDVaEA0je0Lu0bP9j7tEjV3+1qUm6loO99Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./javascripts/script.js"></script>    
<script>
    var konwbol = true;
    document.querySelector('.lay h1').addEventListener('click', function(){
        if(konwbol){
            document.querySelector('.lay').style.marginTop = '-90vh'
            this.textContent = 'Know less'
            konwbol = false;
        }else{
            document.querySelector('.lay').style.marginTop = 'initial'
            this.textContent = 'Know more'
            konwbol = true;
        }
    })
    function loadfun(){
	document.querySelector('.loader').style.display = 'none'
}
</script>
</body>
</html>